*{
	box-sizing:border-box;
}
html,body {
    height: 100%;
	margin:0px;
	margin-top:-10px;
	width:100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	background-image: linear-gradient(180deg, black, gray);
}
.container{
	height:auto;
	position: relative;
}
.C-R{
	margin-top: -5%;
	left:45%;
	width:55%;
	position:absolute;	
	height:inherit;
	box-sizing:border-box;	
}
 
.C-R > img{
	height:70%;
	width:100%;
	transform:perspective(50px) rotateY(-2deg);
}
 
header{
	transition: 0.8s;
	position: fixed;
	float:right;
	width:100%;
	z-index:99;

}
header>img{
	top:100px;
	right:15px;
	position: relative;
	margin-right: 15px;
	float:right;
	width:35px;
	height:35px;
}
header>img:hover{
	transform: scale(1.5);
}
header >img:nth-child(1) {
	transition: 0.5s;
}
header >img:nth-child(2) {
	transition: 1s;
}
header >img:nth-child(3) {
	transition: 1.5s;
}
.C-L{
	position: relative;
	z-index: 98;
	width:45%;
	color:white;
	padding-top:50px;
	display:flex;
}
.C-L > .left-child1{
	flex:1;
	margin-left: 25px;
}
.left-child1 >span{
	font-size:60px; 
	 
}
.C-L > .left-child2{
	margin-left:20px;
	flex:1;
	padding: 0px 30px 30px 0px;
}
.left-child1 >span>img{
	width:20px;
	height:20px;
}
.left-child2 > article{ 
	font-size:18px;
	border-left:2px solid white;
	padding-left:25px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-child2 > .hori-line{
	border-bottom: 2px solid white;
	float:left;
	width:90%;
	height: 0px;
	margin-top: 10px;
	margin-left: 40px;
}

.C-B{
	width:46%;
	display:inline-block;	
	position:relative;
	box-sizing:border-box;
}
.C-B > div{
	width: 100%;
	border:1px solid white;
	top: 20px;
	left:20px;
	position: relative;
	display: flex;
	padding: 40px 15px 10px 25px;
}
.C-B > div ::after{
	content: "";
	border:1px solid white;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 15px;
	left: 15px;
	margin: auto;
	z-index: 50;
}
.box>div{
	flex:1;
	text-align:center;
}
.box>div>span{
	font-size:30px;
	color:white;
}
.picbox1{
	margin-right: 10px;
}
.picbox2{
	margin-left: 10px;
}
.picbox1,.picbox2{
	margin-top: 10px;
	border-radius:10px;
	width:100%;
	background-color:gray;
	padding: 10px;
	box-sizing:border-box;
	margin-right:30px;
}
.picbox1>div, .picbox2>div{
	display: inline-block;
	width:45%;
	border-radius: 10px;
	height:150px;
	overflow: hidden;
} 
 
.picbox1 img,.picbox2 img{
	background-repeat: no-repeat;
	width:100%;
	height: 100%;
	background-size: cover;
	transition:all 1s;	
}
 
.footer{
	padding-bottom: 20px;
	position:relative;
	color:white;
	text-align:center;
	font-size:22px;
	margin-top: 70px;
	word-spacing: 10px;
	padding:0px 10px;
}
@media only screen and (max-width:1450px){
	body{
		overflow-y: scroll;
	}
}


 @media only screen and (max-width:1250px){
	html,body{
		height: auto;
		overflow-y: scroll;
	}
	.C-L{
		box-shadow: 5px 10px 15px 5px black inset;
		overflow: hidden;
		position:sticky	; /* required */
		position: -wefixedbkit-sticky;/* required */
		top: 0;
		display:block;
		width:100%;
		background-image:url('pic1.JPG');
		animation: header-ani 30s linear  infinite;
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
	}
	.C-R{
		display:none;
	}
		
	.left-child2{ 
		margin-top:15px;
	}
	.left-child2 > article{ 
		padding-left:10px;
	}		
	.left-child2 > .hori-line{
		margin-left:10px;
		width:95%;
	} 
	.C-B{
		margin-top: 10px;
		width:95%;
	}
	 
	header>img{
		top:60px;
		right:10px;
		float:right;
	}
	.picbox1>div,.picbox2>div{
		margin-top: 50px;
		height: 200px;
	}
	@keyframes header-ani {
		  0%{
			background-position: 80% 50%;
		  }
		  25% {
			background-position: 0% 0%;
		  }
		  50% {
			background-position: 80% 50%;
		  }
		  75% {
			background-position: 0% 0%;
		  }
	  }
	.footer{ 
		padding-bottom: 20px;
		font-size: 20px;
	}
}
@media only screen and (max-width:925px){
	.C-B{
		width:93%;
	}
}
@media only screen and (max-width:725px){
	.C-B{
		width:91%;
	}
	.C-B > div{
		display:block;
		
	}
	.C-B > div ::after{
		top: 12px;
		left: 12px;
	}
	
	.space{
		padding-top: 30px;
	}
	.footer{
		font-size: 18px;
	} 
	.footer span{
		display: block;
	}
}
@media only screen and (max-width:525px){
	.C-B{
		width:89%;
	}
	.C-B > div ::after{
		top: 10px;
		left: 10px;
	}
	 
	.C-L{
		animation: header-ani 20s linear  infinite; 
	}
	.footer{
		font-size: 15px;
		padding-bottom: 20px;
	}
	
}
@media only screen and (max-width:450px){
	
	.C-B{
		width:87%;
	}
	.C-B > div ::after{
		top: 7px;
		left: 7px;
	}
	.picbox1,.picbox2{
		background-color: rgb(97, 97, 97);
	}
	.picbox1>div,.picbox2>div{
		width:90%;	
		height: 400px;
	}
	.C-L{
		animation: header-ani 20s linear  infinite; 
	}
	.picbox2{
		margin-left: 0px;
	}
	header>img{
		width:35px;
		height:35px;
	}
	.footer{
		font-size: 16px;
	}
	.picbox1,.picbox2{
		padding: 0px;
	}
}
@media only screen and (max-width:370px){
	.C-B{
		width:84%;
	}
	
}